DATABASE_URL="postgresql://neondb_owner:npg_CXOaJT18vxIP@ep-plain-snowflake-a5mi6mxj-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
AUTH_SECRET="secret"
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

HOST_LINK=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=re_YJvHRjpF_GC7sJzzTfmjRD5vj9fxYnh